<% layout("/layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Editează locul de camping</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Titlu</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Locație</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Imagine</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[image]"
          value="<%=campground.image%>"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Preț</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">RON</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-describedby="price-label"
            aria-label="Preț"
            name="campground[price]"
            value="<%=campground.price%>"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Descriere</label>
        <textarea
          class="form-control"
          type="text"
          id="location"
          name="campground[description]"
        >
<%=campground.description%>
        </textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Salvează modificările</button>
      </div>
      <a href="/campgrounds/<%=campground._id%>">Înapoi la locul de camping</a>
    </form>
  </div>
</div>
